<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= song.description %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= song.length %>
  </p>

</div>
