.row-2 {
    background-color: #28323C !important;
}

.row-1 {
    background-color: #1E242A !important;
}

footer {
    color: #caced1 !important;
}


/* styles.css */
.footer-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
}
