<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= playlist.cover_image %>
  </p>

  <p>
    <strong>Privacy:</strong>
    <%= playlist.privacy %>
  </p>

</div>
